<div class="box6">


<%= form_with(model: @reserve, local: true) do |f| %>
  <p class="mb-3">
    <%= f.label :name, "名前" %>
    <%= f.text_field :name %>
    <% if @reserve.errors.messages[:name].any? %>
    <span class="error"><%= @reserve.errors.messages[:name][0] %></span>
    <% end %>
  </p>
  <p class="mb-3">
    <%= f.label :start_time, "予約日時" %>
    <%= f.datetime_select( :start_time,
                            minute_step: 30,
                            start_hour: 9,
                            end_hour: 18,
                            discard_year: true,
                            use_month_numbers: true,
                            date_separator: '/') %>
    <% if @reserve.errors.messages[:start_time].any? %>
    <span class="eroor"><%= @reserve.errors.messages[:start_time][0] %></span>
    <% end %>
  </p>

    <%= f.submit "予約", data: { confirm: "本当に予約しますか?" }, class: "btn btn-success px-4" %>

<% end %>
</div>
